{% extends 'base.html' %}
{% load i18n %}

{% block messages %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <table class="table table-striped">
        <h1>{% translate "Users" %}</h1>
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">{% translate "Username" %}</th>
            <th scope="col">{% translate "Full name" %}</th>
            <th scope="col">{% translate "Created at" %}</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a href="{% url 'user_update' id=user.id %}">{% translate "Update" %}</a>
                <br>
                <a href="{% url 'user_delete' id=user.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
