<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Task Manager" %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task Manager" %}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'user_index' %}">{% translate "Users" %}</a>
              {% if not request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'login' %}">{% translate "Log in" %}</a>
              <a class="nav-link" href="{% url 'user_create' %}">{% translate "Registration" %}</a>
              {% else %}
              <a class="nav-link" href="{% url 'status_index' %}">{% translate "Statuses" %}</a>
              <a class="nav-link" href="{% url 'label_index' %}">{% translate "Labels" %}</a>
              <a class="nav-link" href="{% url 'task_index' %}">{% translate "Tasks" %}</a>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="nav-link" value="{% translate 'Log out' %}">
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
</header>
<p></p>
  <div class="container wrapper flex-grow-1">
      {% block messages %}{% endblock %}
      {% block content %}{% endblock %}
  </div>
</body>
</html>